<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

    <title>Subnya | 子域名遍历</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}" type="text/css">






</head>
<body>


<nav class="home-nav">
    <ul id="menu">
        <h1>Dashboard</h1>
        <li><a href="/">Home</a></li>
        <li><a href="/today">Today's New</a></li>
        <li><a href="/logs">Logs</a></li>
        <li><a href="/tasks">Scheduled Tasks</a></li>
        <li><a href="/stats">Run Statistics</a></li>
    </ul>
</nav>

<!-- File List Section -->
<main>
    
    {% block body %}
    <!-- File List Section -->
    <h3>History output files:</h3>
    <section id="content">
        {% for log in log_files %}
            <ul><a href='{{ url_for('outfile', filename=log) }}'>{{ log }}</a></ul>
        {% endfor %}
    </section>
    <h3>Monitor domains:</h3>
    <section id="content">
        {% for domain in  monitored %}
        <ul>🔍 {{ domain }}</ul>
        {% endfor %}
    </section>
    {% endblock %}

</main>

</body>
</html>
